@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

body {
    background-color: #575859;
    color:#cfd0d1;
    display: grid;
    gap: 2px;
    grid-template-rows: repeat(21, 1fr);
    grid-template-areas: 
    "vertical"
    "winbet_header"
    "navigation_bar"
    "navigation_bar"
    "navigation_bar"
    "navigation_bar"
    "section"
    "section"
    "section"
    "section"
    "section"
    "section"
    "section"
    "section"
    "section"
    "section"
    "section"
    "section"
    "betslip"
    "bottom_bar"
    "bottom_bar"
    ;
}

.verticals {
    grid-area: vertical;
    white-space: nowrap;
    overflow:hidden;
    background-color: #48494a;
}

.winbetheader {
    grid-area: winbet_header;
    background-color: #e42313;
    white-space: nowrap;
}

.navigationbar {
    grid-area: navigation_bar;
}

.sections {
    grid-area: section;
}

.betslip {
    grid-area: betslip;
}

.bottombar {
    grid-area: bottom_bar;
}
 .verticals span {
    padding-right: 10px;
 }

.winbetheader ul li{
    display: inline;
    list-style-type: none;
}

.winbetheader ul img{
    display: inline;
    max-height: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#perfect {
    text-align: right;
}