html{
    font-family: Helvetica, sans-serif;
}

body{
    margin: 50px;
}

ul li{
    list-style-type: none;
    text-decoration: none;
    color: lightgreen;
    display: inline-block;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: green;
}

nav{
    margin-top: -48px;
    padding-left: 200px;
}